.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.playlists-container {
  width: 100%;
  /* margin: 4px 0; */
  display: flex;
}

app-playlist-preview {
  margin-right: 6px;
}

app-playlist-preview:last-child {
  margin-right: 0;
}