.tab-container {
  padding: 12px;
}

.customization-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 900px;
}

.label {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.desc {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--tint-600);
  margin-bottom: 8px;
}

::ng-deep .customization-container .mat-form-field-flex {
  padding: 8px 0 8px 0 !important;
  align-items: center;
  font-size: 15px;
  /* background-color: transparent !important; */
}

::ng-deep .customization-container .mat-form-field-infix {
  padding: 4px 4px 4px 8px !important;
  border-width: 0 !important;
}

.section-header {
  width: 100%;
  position: relative;
}

.add-section-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(50%) translateX(12px);
}

.add-section-btn mat-icon {
  font-weight: 300;
  margin-right: 8px; 
}

.add-section-btn span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.add-section-menu-label {
  padding: 4px 24px 0 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--tint-500);
  user-select: none;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-section-menu-item {
  padding: 0 24px !important;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component-container {
  margin-bottom: 24px;
  width: 100%;
}