.feed-container {
  width: 100%;
  margin: 0 !important;
  padding-top: 24px !important;

  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
  /* max-width: 1110px; */
  padding: 0 18px;
}

.playlists-container {
  margin: 18px 0 0 0 !important;
}

app-playlist-grid-item {
  padding: 0 2px 0 2px !important;
}

.empty-content-container {
  margin: 8px 0 24px 0;
}

.load-more-container {
  margin-bottom: 16px;
}

.load-more-btn {
  transform: translateX(-12px);
}