<div class="dialog-container">
  <div class="title-row">
    <h2 class="title">Choose a video</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon mat>close</mat-icon>
    </button>
  </div>

  <div class="content">
    <div class="content-body">
      <div
        class="video-container row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-start m-0">
        <ng-container *ngFor="let video of videos">
          <app-video-grid-selector [video]="video" class="col" (selected)="select(video)"></app-video-grid-selector>
        </ng-container>
      </div>
    </div>
  </div>
</div>