**/node_modules/
**/dist
**/.vs
**/.vscode
**/tmp
**/out-tsc
**/bazel-out
**/.angular/cache
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/Dockerfile