/* Structure */
.videos-container {
  height: 100%;
  overflow: auto;
  outline: none;
}

table {
  border-collapse: separate;
}

.table-container {
  width: 100%;
  min-height: 550px;
}

table {
  width: 100%;
}

th {
  padding-bottom: 8px !important;
  background-color: var(--bg-color);
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade ::ng-deep .mat-progress-spinner {
  width: 35px !important;
  height: 35px !important;
}

.loading-shade ::ng-deep .mat-progress-spinner svg {
  width: 35px !important;
  height: 35px !important;
}

.mat-cell {
  padding: 14px 0;
}

.video-cell{
  width: 100%;
  display: flex;
}

.video-thumbnail-container{
  width: 120px;
  height: 67.5px;
  flex-shrink: 0;
  background-color: var(--tint-100);
  cursor: pointer;
  position: relative;
}

.video-thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-title-container {
  padding-left: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.video-title {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  flex-grow: 0;
}

.video-desc-container {
  flex-grow: 1;
  position: relative;
  padding-top: 4px;
}

.video-desc {
  max-width: 500px;
  color:var(--tint-500);
  padding-right: 32px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-operations-container {
  flex-grow: 1;
  position: relative;
}

.video-operations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  gap: 1px;
  align-items: flex-end;
  transform: translateX(-6px);
  color: var(--tint-500)
}

.video-title{
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-title:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.video-title:active {
  color: var(--primary-color);
}

.text-end ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: flex-end;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 20
}

.material-symbols {
  font-variation-settings:
  'FILL' 1,
  'wght' 250,
  'GRAD' 0,
  'opsz' 20
}

.visibility-icon {
  transform: translateY(-2px);
  margin-right: 5px;
}

.video-row:hover {
  background-color: var(--tint-10);
}

.video-row.focused {
  background-color: var(--tint-10);
}

.video-row:not(:hover) .show-on-hover {
  display: none;
}

.video-row:hover .hide-on-hover{
  opacity: 0;
}

.video-row.focused .show-on-hover {
  display: flex;
}

.video-row.focused .hide-on-hover{
  opacity: 0;
}

/* Column Widths */
.mat-column-video {
  width: 40%;
  min-width: 600px;
}

.mat-column-visibility {
  width: 14%;
  min-width: 125px;
}

.mat-column-date {
  width: 12%;
  min-width: 125px;
}

.mat-column-views {
  width: 11%;
  min-width: 100px;
}

.mat-column-comments {
  width: 11%;
  min-width: 100px;
}

.mat-column-likes {
  width: 12%;
  min-width: 180px;
}

:ng-deep mat-tooltip-component {
  pointer-events: none !important;
  display:none !important;
}

a {
  color: var(--primary-color)
}

.status {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.status .mat-icon {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 35
}

.status span {
  margin-left: 4px;
}

.status.waiting .mat-icon {
  color: var(--accent-800)
}

.status.normal .mat-icon {
  color: var(--accent-300)
}

.status.error .mat-icon {
  color: var(--danger-color)
}

.likes-container {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.likes-percentage {
  margin-bottom: 2px;
}

.likes-count {
  margin-bottom: 8px;
  color: var(--tint-500);
}

.likes-container mat-progress-bar {
  width: 100px;
  height: 4px;
  align-self: flex-end;
}

::ng-deep .likes-container .mat-progress-bar-fill::after {
  background-color: var(--tint-600) !important;
}

.length {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background-color: #000000cc;
  border-radius: 2px;
  padding: 3px 3px;
  margin: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}