<div class="row-container" [class.loaded]="video!=null" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <a *ngIf="!!video" class="clickable" [routerLink]="['/watch', video.id]"></a>

  <div class="thumbnail-container aspect-ratio-16-9" [class.placeholder]="isPlaceholder">
    <div class="thumbnail" *ngIf="video!=null && !!thumbnailUrl">
      <img crossorigin [src]="video.thumbnailUrl">
    </div>

    <div class="length" *ngIf="video!=null">
      {{length}}
    </div>

    <div class="thumbnail preview-thumbnail" [class.loaded]="previewThumbnailLoaded && mouseover" *ngIf="video!=null">
      <img crossorigin [src]="video.previewThumbnailUrl" (load)="previewThumbnailLoaded = true" *ngIf="mouseover">
    </div>
  </div>

  <div class="desc-col">
    <p class="title" [class.placeholder]="isPlaceholder">
      {{ video?.title }}
    </p>

    <div class="metadata" [class.placeholder]="isPlaceholder">
      <ng-container *ngIf="video!=null">
        <a *ngIf="inlineMetadata" class="inline-author" [class.placeholder]="isPlaceholder" [routerLink]="channelLink">
          <span>{{
            video.creatorProfile.displayName }}
          </span>
        </a>

        <span>{{ video.metrics.viewsCount|nFormatter:1 }} views</span><span class="metadata-date">{{
          createDate }}</span>
      </ng-container>
    </div>

    <div class="author-container" *ngIf="!inlineMetadata">
      <div class="author-thumbnail">
        <app-user-thumbnail [userThumbnailData]="video?.creatorProfile" [size]="24"></app-user-thumbnail>
      </div>
      <a class="author" [class.placeholder]="isPlaceholder" [routerLink]="channelLink">{{
        video?.creatorProfile?.displayName }}</a>
    </div>

    <div class="desc" [class.placeholder]="isPlaceholder">
      {{ video?.description }}
    </div>
  </div>

  <div class="option-col" [class.focusing]="focusing">
    <button mat-icon-button color="primary" *ngIf="!isPlaceholder" [matMenuTriggerFor]="optionsMenu"
      (click)="openOptionsMenu()" (menuClosed)="optionsMenuClosed()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<mat-menu #optionsMenu="matMenu">
  <ng-template matMenuContent let-row="row">

    <button mat-menu-item (click)="addToPlaylist()">
      <mat-icon class="material-symbols-outlined">playlist_add</mat-icon>
      <span>Save to playlist</span>
    </button>

    <!-- <div class="menu-separator"></div> -->
  </ng-template>
</mat-menu>