/* Layout */
.playlist-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: min-content;
  overflow: auto;
}

.content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

::ng-deep .header-container .ng-scroll-content {
  height: 100%;
  padding: 24px 0 24px 0;
}

.scrollable-header-container {
  display: none;
  height: 100%;
}

@media (min-width: 1200px) {
  .scrollable-header-container {
    display: block;
  }

  .unscrollable-header-container {
    display: none;
  }
  
  .playlist-container {
    display: grid;
    grid-template-columns: 384px auto;
    grid-template-rows: auto;
  }

  .header-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    margin-left: 24px;
  }

  .content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    overflow: auto;
  }
}

/* End of Layout */