:host {
  display: block;
  width: 100%;
}

.spotlight-video-section-row-container {
  width: 100%;
  height: 100%;
  padding: 24px 0;
}

.video-container {
  width: 100%;
  max-width: 862px;
}

::ng-deep .spotlight-video-section-row-container .thumbnail-container {
  width: 246px !important;
}