:host {
  width: 100%;
  height: 100%;
}

.playlists-browser-container {
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--tint-100);
}

.playlists-browser {
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: auto;
}